.loginlink{
    font-size: 30px;
    text-decoration: none;
    color: red;
}

button{
    background-color: black;
    color: blanchedalmond;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
}
.menu{
    display: none;
}
.show{
    display: none;
}
.hide{
    display: none;
}
@media screen and (max-width:767px){
    Nav{
        width: 100vw;
        height: 300px;
        min-height: 15vh;
         background-color:black; 
         color: red;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(0,-550px);
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        font-size: 15px;
    }
    .show{
        display: block;
        transform: translate(0,0);
      }
    button{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
    height: 40px;
    width: 100px;
    z-index: 1;
    background-color: khaki;
    color: black;
    font-size: 20px;
    }
    .menu{
        display: flex;
        margin-right: 50px;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 25px;
        height: 40px;
        width: 100px;
        z-index: 1;
        background-color: khaki;
        color: black;
        font-size: 25px;
    }
    .loginlink{
        text-decoration: none;
        color: orange;
        font-size: 20px;
    }
}