%dfg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth{
    display: flex;
    flex-direction: column;
}
.login{
@extend %dfg;
    input{
        margin-top: 20vh;
        background-color: black;
        font-size: 50px;
        color: whitesmoke;
    }
    button{
        font-size: 30px;
        margin-top: 10vh;
    }
    input:hover{
        background-color:rgba(230, 232, 204, 0.865);
        color:darkblue;
    }
    button:hover{
        background-color: whitesmoke;
        color: darkgray;
    }
}

.register{
    @extend %dfg;
    input{
        margin-top: 15vh;
        background-color: black;
        font-size: 50px;
        color: whitesmoke;
    }
    button{
        font-size: 30px;
        margin-top: 15px;
    }
    input:hover{
        background-color:rgba(230, 232, 204, 0.865);
        color:darkblue;
    }
    button:hover{
        background-color: whitesmoke;
        color: darkgray;
    }
}

@media screen and (max-width:767px){
    .register button{
        background-color: white;
        font-size: 30px;
        height: 100px;
    }
    .login button{
        background-color: white;
        font-size: 30px;
        height: 100px;
    }
}
