.mainclass{
    margin-top: 100px;
    background-color: rgba(94, 81, 81, 0.844);
    color: rgb(242, 231, 231);;
    
}
div{
    justify-content: center;
    
}
h1{
    font-size: 40px;
}
h2, h3{
    font-size: 25px;
}