$grayblue :  rgba(81, 113, 150, 0.591);
$silvergold:rgba(228, 226, 162, 0.892);

body{
   height: 100vh;
    background: linear-gradient(to top left,whitesmoke,silver,grey, $grayblue,black,$grayblue,grey,silver,whitesmoke);
    margin-top: 20px; 
	// display: flex;
    // flex-direction: column;
    // justify-content: center;
	// align-items: center;
}

.mainclass{
margin-left: auto;
margin-right: auto;
margin-top: 10vh;
width: 650px;
height: 650px;
border-radius: 80%;
background: radial-gradient(circle,black,blue,purple,red);
color: $silvergold;
display: flex;
flex-direction: column;
justify-content: center;
}

// @keyframes spinner{
//     0%{transform: rotate(0deg);}
//     100%{transform: rotate(360deg);}
// }

h1{
    font-size: 40px;
}
h2, h3{
    font-size: 25px;
}